# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Explicitly declare text files you want to always be normalized
# and converted to native line endings on checkout.
*.kt text
*.xml text
*.gradle text
*.gradle.kts text
*.properties text
*.md text
*.txt text

# Declare files that will always have LF line endings on checkout.
gradlew text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
